.detail > div {
  display: flex;
  flex-direction: row;

  .label {
    display: inline-block;
    font-weight: bold;
    width: 200px;
  }

  .label, .value {
    background: #222;
    margin: 3px;
    padding: 3px 6px;
    width: 200px;
  }
}
