.browse {
  padding: 10px;
  max-width: 200px; }

h3 {
  font-size: 12px;
  text-transform: uppercase; }

ul {
  list-style: none;
  padding-left: 0; }
  ul li {
    display: block; }
    ul li button {
      background: transparent;
      border: 0;
      color: grey;
      cursor: pointer;
      font-size: 14px;
      line-height: 1.5em;
      padding-left: 10px;
      text-align: left;
      text-transform: uppercase;
      width: 100%; }
      ul li button:hover {
        color: white; }
      ul li button.active {
        color: white;
        border: 0;
        border-left: 2px solid red;
        outline: none; }
